$color-primary: #FD2D01;
$color-primary-darken: darken($color-primary, 6%);
$color-secondary: #FFD7D7;
$color-tertiary: white;

$bg-color-primary: white;
$bg-color-secondary: darken($bg-color-primary, 6%);
$bg-color-tertiary: darken($bg-color-primary, 60%);

$font-primary: 'Pridi', serif;
$font-secondary: 'Puritan', sans-serif;

$font-weight: (
    black: 900,
    medium: 500,
    light: 300,
    thin: 100
);

$shadow-color: rgba(0, 0, 0, 0.25);
$shadow-size: 2px;
$shadow-blur: 8px;
$shadow-size-hover: 12px;
$shadow-blur-hover: 16px;

$padding: (none:0, xsmall: 2px, small:5px, medium:10px, large:20px);
$margin: (none:0, xsmall: 2px, small: 5px, medium: 10px, large:20px);
$border-radius: (none: 0, small: 5px, medium: 10px);

$breakpoints: (
    large-mobile: 600px,
    tablet: 768px,
    desktop: 992px,
    large-desktop: 1200px
);